<html>
  <head>
    <meta content='{{ page.title }} - {{ site.title }}' property='og:title' />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="blog" property="og:type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link href='/assets/css/bootstrap.min.css' rel='stylesheet' type='text/css' />
    <link href='/assets/css/bootstrap-theme.min.css' rel='stylesheet' type='text/css' />
    <link href="/assets/css/post.css" rel="stylesheet" type="text/css" />
    <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css" />
    {% if page.math == 'y' %}
    {% include mathjax-config.html %}
    {% endif %}
  </head>
  <body>
    {% include nav.html %}
    <div class="row" style="padding-top: 70px">
      <div class="container center-block">
        <div class="col-md-0"></div>
        <div class="main col-md-9 col-sm-12">
            <h1 class="text-center text-uppercase">{{ page.title }}</h1>
            {{ content }}
            {% if page.donate == 'y' %}
            {% include donate.html %}
            {% endif %}
            {% if page.disqus == 'y' %}
            {% include disqus.html %}
            {% endif %}
        </div>
        <div class="col-md-2">
          {% include github-card.html %}
        </div>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript">
      $(function(){
        $("pre").addClass("prettyprint");
        prettyPrint();
        $("pre").addClass("pre-scrollable");
        $("img").addClass("center-block img-responsive img-thumbnail");
        $("table").addClass("table table-striped table-bordered table-hover table-condensed");
        $("p a").addClass("text-info");
      });
    </script>
    {% include google-analytics.html %}
  </body>
</html>
